

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  max-width: 100vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

section img {
  width: 200px;
  height: fit-content;
}
.prod-img {
  display: flex;
  justify-content: flex-end;
  margin: 0 30px;
}


button {
  background-color: blueviolet;
  border: 1px solid white;
  padding: 8px 20px;
  color: white;
  border-radius: 6px;
}

button:hover {
  background-color: rgb(105, 24, 182);
  cursor: pointer;
}

a.button-link {
  text-decoration: none;
  color: white;
}

.desktop-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Estilos para versión móvil */
@media screen and (max-width: 768px) {
  h1{
    text-align: center;
  }
  section{
    margin: 20px auto;
  }
  .desktop-view {
    display: block;
  }
  .prod-img img{
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}